.solution-section {
  padding: 50px;
  background-color: #F0FAFC;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solution-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 80px;
  color: #333;
}

.solution-item {
  display: flex;
  align-items: flex-start; /* sorgt dafür, dass das Bild und der Text oben beginnen */
  margin-bottom: 50px;
  text-align: left;
}

.solution-item.reverse {
  flex-direction: row-reverse; /* sorgt für abwechselnde Bildpositionen */
}

.solution-image {
  width: 350px; /* feste Breite des Bildes */
  height: auto; /* damit das Bild proportional bleibt */
  margin: 50px 30px 0 0;
}

.solution-item.reverse .solution-image {
  margin-left: 30px; /* Abstand, wenn Bild rechts ist */
  margin-right: 0;
}

.solution-content {
  max-width: 1000px; /* maximale Breite für den Textbereich */
}

.solution-content h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.solution-content p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
}

.solution-content ul {
  list-style-type: none;
  padding: 0;
}

.solution-content ul li {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.solution-content ul li::before {
  content: "✔";
  margin-right: 10px;
  color: #357A98;
}

.solution-button {
  background-color: #357A98;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 50px;
}

.solution-button:hover {
  background-color: #285a75;
}
