@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.hero-section {
  padding: 50px 0;
  height: 80vh;
  background-image: url('../../assets/home-blurred.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow for better readability */
}

.hero-subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Smaller text shadow for subtitle */
}

.cta-button {
  font-family: 'Poppins', sans-serif;
  background-color: #357A98;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Slight text shadow for the button text */
}

.cta-button:hover {
  background-color: #2a5f79;
}
